<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tạo hồ sơ Nhân Viên</title>

  <!-- Custom fonts for this template-->
  <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="./css/form_NV.css" rel="stylesheet">
  <link href="./css/sb-admin-2.min.css" rel="stylesheet">
  <link href="./css/jquery.flexdatalist.min.css" rel="stylesheet">
  <link href="./css/jquery.toast.min.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include("./partials/sidebar") -%>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <%- include("./partials/navbar") -%>

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">TẠO HỒ SƠ NHÂN VIÊN</h1>
              <div class="container mt-3">
                <form action="/createNV" method="POST" id="form_NV">
                  <div class="row box8">

                    <div class="col-sm-12 form-group">
                      <input type="hidden" id="LOAITK" name="LOAITK" value="3">
                    </div>

                    <div class="col-sm-12 form-group">
                      <label for="HOTEN">Họ tên Nhân viên</label>
                      <input type="text" class="form-control" name="HOTEN" id="HOTEN"
                        placeholder="Nhập họ tên nhân viên" required>
                    </div>

                    <div class="col-sm-4 form-group">
                      <label for="NGAYSINH">Ngày Sinh</label>
                      <input type="Date" name="NGAYSINH" class="form-control" id="NGAYSINH" placeholder="" required>
                    </div>

                    <div class="col-sm-4 form-group">
                      <label for="GIOITINH">Giới Tính</label>
                      <select id="GIOITINH" name="GIOITINH" class="form-control browser-default custom-select">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                      </select>
                    </div>

                    <div class="col-sm-4 form-group">
                      <label for="SDT">Số Điện Thoại</label>
                      <input type="tel" name="SDT" class="form-control" id="SDT"
                        placeholder="Nhập số điện thoại để liên hệ" required>
                    </div>

                    <div class="col-sm-12 form-group">
                      <label for="DIACHI">Địa chỉ</label>
                      <input type="text" class="form-control" name="DIACHI" id="DIACHI" placeholder="Nhập địa chỉ"
                        required>
                    </div>

                    <div class="col-sm-6 form-group">
                      <label for="EMAIL">Email</label>
                      <input type="email" class="form-control" name="EMAIL" id="EMAIL" placeholder="Nhập địa chỉ Email"
                        required>
                    </div>

                    <div class="col-sm-6 form-group">
                      <label for="LOAINV">Loại Nhân Viên</label>
                      <select id="LOAINV" name="LOAINV" class="form-control browser-default custom-select">
                        <option value="1">Quản Trị Viên</option>
                        <option value="0">Nhân Viên</option>
                      </select>
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="MATKHAU">Mật khẩu</label>
                      <input type="password" class="form-control" name="MATKHAU" id="MATKHAU"
                        placeholder="Nhập mật khẩu" required>
                    </div>

                    <div class="col-sm-12 form-group mb-0">
                      <button type="submit" class="btn btn-primary float-right" onclick="return submitForm()">Tạo hồ sơ</button>
                      
                    </div>

                  </div>
                </form>
              </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include("./partials/footer") -%>

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <%- include("./partials/scrollToTopBtn") -%>

    <!-- Bootstrap core JavaScript-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./js/sb-admin-2.min.js"></script>
    <script src="./js/jquery.toast.min.js"></script>
    <script src="./js/jquery.flexdatalist.min.js"></script>

    <script src="./js/createNV.js"></script>


</body>

</html>