<!-- Modal -->
<div class="modal fade" id="listNVModal" tabindex="-1" role="dialog" aria-labelledby="listNVModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listNVModalLabel">Thông tin nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listNV" method="POST" id="form_UpdateNV">

                    <input type="hidden" id="modalMANV" name="MANV" value="">

                    <div class="form-group">
                        <label for="modalHOTEN">Họ Tên Nhân Viên:</label>
                        <input type="text" class="form-control" id="modalHOTEN" name="HOTEN">
                    </div>
                    <div class="form-group">
                        <label for="modalNGAYSINH">Ngày Sinh:</label>
                        <input type="date" class="form-control" id="modalNGAYSINH" name="NGAYSINH">
                    </div>
                    <div class="form-group">
                        <label for="modalGIOITINH">Giới Tính:</label>
                        <select class="form-control" id="modalGIOITINH" name="GIOITINH">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modalDIACHI">Địa chỉ:</label>
                        <input type="text" class="form-control" id="modalDIACHI" name="DIACHI">
                    </div>
                    <div class="form-group">
                        <label for="modalSDT">Số Điện Thoại:</label>
                        <input type="tel" class="form-control" id="modalSDT" name="SDT" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modalEMAIL">Email:</label>
                        <input type="email" class="form-control" id="modalEMAIL" name="EMAIL">
                    </div>
                    <div class="form-group">
                        <label for="modalLOAINV">Loại Nhân Viên:</label>
                        <select class="form-control" id="modalLOAINV" name="LOAINV" disabled>
                            <option value="1">Quản Trị Viên</option>
                            <option value="0">Nhân Viên</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/thuoc.js"></script>